nav {
	display: flex;
	flex-direction: column;
	background-color: #413737c4;
	width: 170px;
	position: absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;	
}

nav > div {
	border: 1px solid black;
	background-color:#745050c4;
	border-radius: 9px;
	margin: 10px 10px 1px;
	padding: 5px;
	cursor: pointer;
}

nav > #div_new_project {
	background-color: white;
}