body {
	background-color: #4e4343af;
	display: flex;
	flex-direction: row;
	/* align-items: stretch; */
	height: 52vmax;
}
#sidenav {
	display: flex;
	flex-direction: column;
	background-color: #413737c4;
	max-width: 150px;
	border-radius: 10px;
}
#sidenav > span {
	border: 1px solid black;
	background-color:#745050c4;
	border-radius: 9px;
	margin: 10px 10px 1px;
	padding: 5px;
	cursor: pointer;
}
#sidenav > #div_new_project {
	background-color: white;
}

#div_item_container {
	position: relative;
	display: flex;
	flex-direction: column;
}
#div_item_container > div {
	background-color: pink;
}
